.img{
    width: 100%;
    height: 400px;
    object-fit:cover;
}
.container{
    display: flex;
    flex-direction: column;
}
img .img-1{
    object-fit: cover;
}
nav{
    position: sticky;
}

.featurette-image {
    width: 400px;
    height: 400px;
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
}
